.good-card {
  display: flex;
  flex-direction: column;

  box-shadow: var(--card-shadow) black;
}

.good-card__main {
  width: 100%;
  display: flex;
  justify-content: center;

  border: var(--card-border) solid;
}

.good-card__main-img {
  max-width: var(--image-max-width);
}

.good-card__footer {
  width: 100%;
  height: 100%;

  text-align: center;
  overflow-wrap: break-word;

  border: var(--card-border) solid;
  border-top: 0;
}
.good-card__main > *,
.good-card__footer > * {
  padding: var(--card-items-padding);
}
