.image-slider {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image-slider img {
  padding: var(--card-items-padding);
}

.image-slider button {
  cursor: pointer;
  border: var(--card-border) solid transparent;
}
.image-slider button:hover {
  border: var(--card-border) solid;
}

.image-slider__aside {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
  overflow-y: scroll;
}

.image-slider__aside-img {
  max-width: calc(var(--image-max-width) / 4);
}

.image-slider__aside-img--selected {
  border: var(--card-border) solid;
}
.image-slider__aside-img--not-selected {
  border: var(--card-border) solid transparent;
}

.image-slider__main {
  position: relative;
  margin-left: 100px;
}

.image-slider__main-img {
  max-width: var(--image-max-width);
}

.image-slider__main-btns {
  position: absolute;
  bottom: 0;
  right: 0;

  display: flex;
  gap: 0.5rem;
}
