.image-slider {
  display: flex;
  flex-direction: row;

  position: relative;
  width: fit-content;
  height: 100%;

  overflow: hidden;

  padding: var(--section-padding);
}

.image-slider__aside {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 999;

  scrollbar-width: none;
  overflow-y: scroll;
}

.image-slider__aside-img--selected {
  border: var(--card-border) solid;
}
.image-slider__aside-img--not-selected {
  border: var(--card-border) solid transparent;
}

.image-slider__main {
  position: relative;
  margin: 0 var(--slider-padding);
}

.image-slider__main-img {
  max-width: var(--image-max-width);
}

.image-slider__main-btns {
  position: absolute;
  bottom: 0;
  right: 0;

  display: flex;
  gap: 0.5rem;

  z-index: 999;

  transform: translate(50%, 35%);
}
.image-slider__main-btns button {
  cursor: pointer;

  padding: 0.25rem;
  min-width: 2rem;
  border: solid var(--border-color-enable-light);

  background-color: var(--bg-color-dark);
  color: white;
}

.image-slider__main-btns button:hover {
  border: var(--card-border) solid var(--border-color-hover-dark);
}

@media screen and (max-width: 1124px) {
  .image-slider {
    justify-content: center;

    width: 100%;
    padding: var(--section-padding) 0;
  }

  .image-slider__aside {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    justify-content: center;

    overflow-y: initial;
    overflow-x: scroll;

    width: 100%;
    height: fit-content;
    bottom: 0;
    top: initial;
  }

  .image-slider__aside-img {
    max-width: initial;
    max-height: calc(var(--image-max-width) / 4);
  }

  .image-slider__main {
    margin: 0;
    margin-bottom: calc(var(--image-max-width) / 2);

    width: 100%;
    display: flex;
    justify-content: center;
  }

  .image-slider__main-btns {
    bottom: initial;
    right: initial;

    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;

    transform: initial;
  }
}
