.color--selected {
  border: var(--card-border) solid;
}

.color--not-selected {
  border: var(--card-border) solid transparent;
}

.color--not-selected:hover {
  border: var(--card-border) solid var(--border-color-hover-dark);
}

.form__action {
  cursor: pointer;

  min-width: 3rem;
  min-height: 2rem;
  border: solid var(--border-color-enable-light);
}

.form__action:hover {
  border: solid var(--border-color-hover-dark);
}
