.color--selected {
  border: var(--card-border) solid var(--border-color-select);
}

.color--not-selected {
  border: var(--card-border) solid transparent;
}

.color--not-selected:hover {
  border: var(--card-border) solid var(--border-color-hover-dark);
}

.form__action {
  cursor: pointer;

  min-width: 3rem;
  min-height: 2rem;
  padding: 0.5rem;
  border: var(--btn-border) solid var(--border-color-enable-light);
  background-color: var(--bg-color-dark);
  color: white;
}

.form__action:hover {
  border: var(--btn-border) solid var(--border-color-select);
}

.fieldset--error {
  color: var(--error-color);
}
