.good-card {
  display: flex;
  /* flex-wrap: wrap; */
  flex: 1;
  justify-content: space-evenly;
  gap: 1rem;

  padding: var(--section-padding);
  border: solid;
  box-shadow: var(--card-shadow) black;
}

.good-card__hr {
  border: 0.15rem solid;
}

.good-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.good-form__fieldset {
  display: flex;
  border: solid 0.15rem;
  padding: var(--section-padding);
}

.data-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (max-width: 1124px) {
  .good-card {
    flex-direction: column;
  }
}
